<html>
<head>
	<meta charset="UTF-8">
	<title>Сервис аналитики жилой недвижимости</title>
	<link rel='StyleSheet' type='text/css' href='../static/1.css'/>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
	<body>
		<header>
		  <nav>
			<div class="logo-box">
				<h1 class="logo">
					<a href="{{ url_for('home')}}">
					<img width="65" height="65" src="../static/logo5.png">
					</a>
				</h1>
				<p class="name">Сервис аналитики жилой недвижимости</p>
			</div>
			<ul>
			  <li><a href="{{ url_for('predict_page')}}">Оценка стоимости</a></li>
			  <li><a href="{{ url_for('graphics_page')}}">Аналитические графики</a></li>

		   </ul>
		  </nav>
		</header>
		<div class="text-block">
			<h4>Оценка стоимости жилой недвижимости с помощью модели машинного обучения</h4>
			<p>На сайте представлена система оценки стоимости жилой недвижимости, которая, проанализировав объявления в интернете, может оценивать их реальную стоимость на основе введенных параметров.</p>
		<div>
  </body>
</html>
