<html>
<head>
	<meta charset="UTF-8">
	<title>Оценка стоимости</title>
	<link rel='StyleSheet' type='text/css' href='../static/2.css'/>
</head>
	<body>
		<header>
		  <nav>
			<div class="logo-box">
			  <h1 class="logo">
				<a href="{{ url_for('home')}}">
				 <img width="65" height="65" src="../static/logo5.png">
				</a>
			  </h1>
				<p class="name">Сервис аналитики жилой недвижимости</p>
			</div>
			<ul>
			  <li><a href="{{ url_for('home')}}">Главная</a></li>
			  <li><a href="{{ url_for('graphics_page')}}">Аналитические графики</a></li>

		   </ul>
		  </nav>
		</header>
		<div class="parametrs">
			<h3>Оценка стоимости жилой недвижимости в г. Москве</h3>
			<p>Для оценки необходимо знать координаты оцениваемого объекта. Узнать их можно с помощью <a href="https://yandex.ru/maps">Яндекс.Карт</a> </p>
			<form action="{{ url_for('predict_page')}}"method="POST">
				<label for="Material">Материал дома: </label>
					<select class="value" name="Material" required="required"/>
						<option value="0">Блок</option>
						<option value="1">Дерево</option>
						<option value="2">Кирпич</option>
						<option value="1">Монолит</option>
						<option value="2">Панель</option>
					</select><br>

				<label for="Floor">Этаж: </label>
					<select class="value" name="Floor" required="required"/>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
					</select><br>

				<label for="Total_floor">Всего этажей: </label>
					<select class="value" name="Total_floor" required="required" />
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
					</select><br>

				<label for="Rooms">Количесто комнат: </label>
					<select class="value" name="Rooms" required="required"/>
						<option value="0">1</option>
						<option value="1">2</option>
						<option value="2">3</option>
						<option value="3">4</option>
						<option value="4">5</option>
						<option value="5">6</option>
						<option value="6">7</option>
						<option value="7">Студия</option>
					</select><br>

				<label for="Type">Тип дома: </label>
					<select class="value" name="Type" required="required" /><br>
						<option value="0">Вторичное жилье</option>
						<option value="1">Новостройка</option>
					</select><br>

				<label for="Administrative_distrinct">Административный округ: </label>
					<select class="value" name="Administrative_distrinct" required="required"/>
						<option value="0">ВАО</option>
						<option value="1">ЗАО</option>
						<option value="2">САО</option>
						<option value="3">СВАО</option>
						<option value="4">СЗАО</option>
						<option value="5">ЦАО</option>
						<option value="6">ЮАО</option>
						<option value="7">ЮВАО</option>
						<option value="8">ЮЗАО</option>
					</select><br>

				<label for="Area">Площадь: </label>
					<input type="text" class="value" name="Area" placeholder="Введите значение" required="required"/><br>
				<label for="Distance">Широта: </label>
					<input type="text" class="value" name="Distance" placeholder="Введите значение" required="required"/><br>
				<label for="Azimut">Долгота: </label>
					<input type="text" class="value" name="Azimut" placeholder="Введите значение" required="required"/><br>
				<br>
				<button type="submit" class="button">Показать предсказанную цену</button>
			</form>
	  
				{{prediction_text}}
		</div>


</body>
</html>
