<html>
<head>
	<meta charset="UTF-8">
	<title>Аналитические графики</title>
	<link rel='StyleSheet' type='text/css' href='../static/3.css'/>
</head>
	<body>
				<header>
		  <nav>
			<div class="logo-box">
			  <h1 class="logo">
				<a href="{{ url_for('home')}}">
				  <img width="65" height="65" src="../static/logo5.png">
				</a>
			  </h1>
				<p class="name">Сервис аналитики жилой недвижимости</p>
			</div>
			<ul>
			  <li><a href="{{ url_for('home')}}">Главная</a></li>
			  <li><a href="{{ url_for('predict_page')}}">Оценка стоимости</a></li>

		   </ul>
		  </nav>
		</header>
		<details>
			<summary>Средняя стоимость квадратного метра по округам</summary>
			<p>Самая высокая средняя стоимость квадратного метра в центральном административном округе – более 570 тысяч рублей, самая низкая - в юго-восточном административном округе – чуть более 230 тысяч рублей </p>
			<img src="../static/1.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра в зависимости от количества комнат</summary>
			<p>В разрезе количества комнат самая высокая средняя стоимость квадратного метра у семиэтажных квартир – 718 тысяч рублей, самая низкая у студий – 266 тысяч</p>
			<img src="../static/Средняя стоимость по комнатам.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя этажность домов по округам</summary>
			<p>Самые высокие дома в западном административном округе - среднее значение равняется почти 24 этажам, самые низкие – в восточном административном округе – среднее значение 17,5 этажей</p>
			<img src="../static/Средняя этажность.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ВАО)</summary>
			<p>В восточном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Сокольники – 295 тысяч рублей, самая низкая – в районе Ивановское – 210 тысяч рублей</p>
			<img src="../static/Средняя стоимость ВАО.png"  alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЗАО)</summary>
			<p>В западном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Дорогомилово – 490 тысяч рублей, самая низкая – в районе Ново-Переделкино – 216 тысяч рублей</p>
			<img src="../static/Средняя стоимость ЗАО.png"alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (САО)</summary>
			<p>В северном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Беговой – 365 тысяч рублей, самая низкая – в районе Молжаниновский – 158 тысяч рублей</p>
			<img src="../static/Средняя стоимость САО.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (СВАО)</summary>
			<p>В северо-восточном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Алексеевский – 319 тысяч рублей, самая низкая – в районе Ярославский – 189 тысяч рублей</p>
			<img src="../static/Средняя стоимость СВАО.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (СЗАО)</summary>
			<p>В северо-западном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Хорошёво-Мнёвники – 338 тысяч рублей, самая низкая – в районе Митино – 207 тысяч рублей</p>
			<img src="../static/Средняя стоимость СЗАО.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЦАО)</summary>
			<p>В центральном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Хамовники – 888 тысяч рублей, самая низкая – в районе Красносельский – 409 тысяч рублей</p>
			<img src="../static/Средняя стоимость ЦАО.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮАО)</summary>
			<p>В южном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Даниловский - 365 тысяч рублей, самая низкая – в районе Бирюлёво Восточное – 178 тысяч рублей</p>
			<img src="../static/Средняя стоимость ЮАО.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮВАО)</summary>
			<p>В юго-восточном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Южнопортовый – 299 тысяч рублей, самая низкая – в районе Капотня – 185 тысяч рублей</p>
			<img src="../static/Средняя стоимость ЮВАО.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮЗАО)</summary>
			<p>В юго-западном административном округе самая высокая средняя стоимость квадратного метра наблюдается в районе Гагаринский – 393 тысячи рублей, самая низкая – в районе Южное Бутово – 206 тысяч рублей</p>
			<img src="../static/Средняя стоимость ЮЗАО.png" alt="Ошибка загрузки">
		</details>
